.homerunner-main-canvas {
  width: 100%;
  height: 100%;
  background-color: skyblue;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  position: relative;
  overflow: hidden;
}

.homerunner-ground {
  background-color: darkolivegreen;

  width: 100%;
}

.homerunner-player {
  background-color: transparent;
  width: 70px;
  height: 330px;

  position: absolute;
  right: 1000px;

  transform: translateY(0px);

  transition-property: transform;
  transition-duration: 400ms;

  z-index: 2;
}

.homerunner-player-gfx {
  width: 120px;
  height: 350px;

  background: url('../svg/player.svg') no-repeat;

  position: absolute;
  top: 0px;

  z-index: 3;
}

.homerunner-player-gfx svg {
  width: inherit;

  position: absolute;
  bottom: 0px;
}

.homerunner-counter {
  position: absolute;
  top: 10px;
  left: 10px;

  font-size: 3em;
  color: white;
}

.homerunner-obstacle {
  width: 50px;
  height: 50px;
  background-color: purple;
  border-radius: 10%;

  position: absolute;
  right: -1000;
  bottom: 100px;

  z-index: 3;
}

.homerunner-bg {
  width: 134px;
  height: 300px;
  background: url('../png/tree.png');

  position: absolute;
  right: -1000;
  bottom: 100px;

  z-index: 1;
}

.homerunner-game-over-overlay {
  width: 100%;
  height: 100%;
  position: absolute;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

  z-index: 4;
}

.homerunner-game-over-overlay h1 {
  font-size: 10em;
}

.homerunner-game-over-overlay p {
font-size: 5em;
}