.homerunner-main-canvas {
  width: 100%;
  height: 100%;
  background-color: skyblue;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  position: relative;
}

.homerunner-ground {
  background-color: darkolivegreen;

  width: 100%;
}

.homerunner-player {
  background-color: tomato;
  width: 100px;
  height: 200px;

  position: absolute;
  left: 100px;

  transform: translateY(0px);

  transition-property: transform;
  transition-duration: 240ms;
}

.homerunner-counter {
  position: absolute;
  top: 10px;
  left: 10px;

  font-size: 3em;
  color: white;
}

.homerunner-obstacle {
  width: 50px;
  height: 50px;
  background-color: purple;

  position: absolute;
  bottom: 100px;
  right: 10px;
}
